:root {
	--main-side-margin: 10px;

	/* color scheme 1 */
	--greenblue: #069e70;
	--greenblue-b: #35c599;
	--greenblue-d: #25896A;
	--greenblue-l: #44b694;
	--greenblue-ll: #a2dbc9;
	--greenblue-lll: #e0f3ed;
	--grayish: #292320;
	--grayish-old: #363025;
	--orange: #d08f06;

	/* color scheme 2, in progress */
	--dirt: #431701;
	--lettuce: #6a0113;
	--lettuce-b: #89031b;
	--straw: #ceb665;

	--nav-color: var(--greenblue);
	--nav-color-bright: var(--greenblue-b);
	--nav-color-light: var(--greenblue-ll);
	--nav-color-dark: var(--greenblue-d);
	--main-background-color: var(--grayish);
	--text-color: var(--orange);

	/*	--nav-color: var(--lettuce);
	--nav-color-bright: var(--lettuce-b);
	--nav-color-light: var(--lettuce);
	--nav-color-dark: var(--lettuce);
	--main-background-color: var(--dirt);
	--text-color: var(--straw);
	*/
}



/* apparently i should make these into percentages */
@media only screen and (min-width: 600px) {
	:root {
		--main-side-margin: 14px;
	}
}

body {
	margin: unset;
}

html {
	font-size: 14px;
}

@media only screen and (min-width: 600px) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 960px) {
	html {
		font-size: 18px;
	}
}

/* text styles */

h2 {
	font-size: 1.8rem;
	font-family: "Courier New";
	font-weight: lighter;
	color: var(--text-color);
}

p {
	font-size: 1.4rem;
	font-family: "Courier New";
	color: var(--text-color);
}

ul {
	list-style-type: none;
	padding: 0 0 0 var(--main-side-margin);
}

li {
	font-size: 1.4rem;
	font-family: "Courier New";
	color: var(--nav-color-bright);
}

/* grid */

.grid-container {
	display: grid;
	grid: "head head"auto "nav main"1fr / 12rem 1fr;
	width: 100vw;
	height: 100vh;
	transition: 300ms;
}


.grid-container-nav-collapsed {
	grid: "head head"auto "nav main"1fr / 2rem 1fr;
}

.grid-item-head {
	grid-area: head;
	background-color: var(--nav-color);
}

.grid-item-nav {
	grid-area: nav;
	background-color: var(--nav-color);
}

.grid-item-main {
	grid-area: main;
	background-color: var(--main-background-color);
}


.grid-item-foot {
	grid-area: foot;
	background-image: url("images/dim-woods.jpg");
	background-color: #ddd;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

/* header */

.title {
	margin: 4px 0 4px var(--main-side-margin);
	font-size: 2rem;
	font-family: "arial";
	font-weight: lighter;
	color: #efefef;
}

/* left nav */

.nav-link {
	color: #efefef;
	text-decoration: underline;
}

.nav-list {
	margin: 0 14px 0 var(--main-side-margin);
	padding: unset;
	list-style-type: none;
}

.nav-list-item {
	margin: 4px 0 10px 0;
	font-size: 1.5rem;
	font-family: "arial";
	font-style: italic;
	color: #efefef;
}

.page-list {
	margin: 0 0 0 var(--main-side-margin);
	padding: unset;
	list-style-type: none;
}

.page-list-item {
	margin: 4px 0 10px 0;
	font-size: 1rem;
	font-family: "Courier New";
	font-style: italic;
}

.no-underline {
	text-decoration: none;
}

/* single */

.single-container {
	margin: 14px var(--main-side-margin) 0 var(--main-side-margin);
	position: relative;
}

.single-title {
	margin: unset;
	color: #efefef;
	font-size: 2.3rem;
	font-family: "Courier New";
	font-weight: lighter;
	line-height: 2.2rem;
}

.single-metadata {
	color: #efefef;
	font-size: 1.5rem;
	font-family: "Courier New";
	font-weight: lighter;
	line-height: 2.2rem;
}

.single-main {
	margin: 0 0 0 20px;
}

.single-img {
	max-width: 100%;
}
