{{ $pages := .Site.RegularPages}}
<ul class="nav-list">
	<div id="nav-button" class="nav-list-item">+</div>
	{{ range .Site.Menus.main }}
	<li class="nav-list-item">
		<a class="nav-link">
			{{ $text := print .Name | safeHTML }}
			{{ $text }}
		</a>
	</li>
	<ul class="page-list">
		{{ range where $pages "Section" .Name }}
		<li class="page-list-item">
			<a class="no-underline nav-link" href="{{ .Permalink }}">
				{{ $text := print .Title | safeHTML }}
				{{ $text }}
			</a>
		</li>
		{{ end }}
	</ul>
	{{ end }}
</ul>
