{{ $pages := .Site.RegularPages}}
<ul class="nav-list">
	<li>
		<div id="nav-button" class="nav-list-item">-</div>
	</li>

	{{ range .Site.Menus.main }}
	<li class="nav-list-item">
		<a class="nav-link">
			{{ $text := print .Name | safeHTML }}
			{{ $text }}
		</a>
	</li>
	<li>
		<ul class="page-list">
			{{ range where $pages "Section" .Name }}
			<li class="page-list-item">
				<a class="no-underline nav-link" href="{{ .Permalink }}">
					{{ $text := print .Title | safeHTML }}
					{{ $text }}
				</a>
			</li>
			{{ end }}
		</ul>
	<li>
	{{ end }}

	{{ range .Site.Menus.extra }}
	<li class="nav-list-item">
		~
		<a class="nav-link" href="{{ .URL |relURL }}">
			{{ $text := print .Name | safeHTML }}
			{{ $text }}
		</a>
		~
	</li>
	{{ end }}
</ul>
