<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
    <div id="grid-container" class="grid-container">
        <header class="grid-item-head">
            {{- partial "header.html" . -}}
        </header>
        <nav class="grid-item-nav">
            {{- partial "left-nav.html" . -}}
        </nav>
        <main class="grid-item-main starry">
            <div id="stars-s-a"></div>
            <div id="stars-s-b"></div>
            <div id="stars-l-c"></div>
            {{- block "main" . }}{{- end }}
        </main>
    </div>
</body>

</html>
